body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E1; 
}

nav {
    background-color: #FF0000; 
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
}

nav img {
    height: 50px; 
    margin-right: auto; 
}

nav a {
    color: #FFFFFF; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 3px solid transparent; 
    transition: border-color 0.3s; 
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover {
    background-color: transparent; 
    color: #FFFFFF; 
    border-color: #FFCB05; 
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pk__container_Principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #343a40;
    transition: transform 0.8s ease; /*una transicion suave*/
}

.pk__container_Principal:hover{
    cursor: pointer;
    transform: translateY(-12px);
    box-shadow: 5px 2px 2px ,inset 5px -2px -2px;
    transition: all .5s;
}
.pk__complementario h3 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.badges {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    margin: 2px;
    background-color: #f8f9fa;
    color: #343a40;
}

.pk__descripcion h3 {
    margin: 10px 0;
    font-size: 20px;
    color: white;
}

.pokemon-image {
    width: 80px;
    height: 80px;
}
.poke__img_mostrar{
    transition: all .9s;
}
.poke__img_mostrar:hover{
    transform: translateX(-10px) scale(0.8);
}
.buttons{
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}