body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E1; /* Amarillo pálido */
}

nav {
    background-color: #FF0000; /* Rojo para el fondo del nav bar */
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
}

nav img {
    height: 50px; /* Ajusta la altura según tus necesidades */
    margin-right: auto; /* Esto moverá la imagen a la izquierda */
}

nav a {
    color: #FFFFFF; /* Blanco para el texto de los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 3px solid transparent; /* Añade un borde transparente para mantener el tamaño del enlace */
    transition: border-color 0.3s; /* Añade una transición suave para el borde */
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover {
    background-color: transparent; /* Fondo transparente para los enlaces en hover */
    color: #FFFFFF; /* Blanco para el texto de los enlaces en hover */
    border-color: #FFCB05; /* Borde amarillo */
}

.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card h3 {
    margin: 0;
    font-size: 1.2em;
}